@import 'variable.scss';
@import 'mixins.scss';
body{
    background-color: #f3f3f3;
}
button{

    &.login{
            background-color: $primaryColor;
             border-radius: 20px;
             padding: 10px 25px;
             box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
             border: none;
             text-transform: uppercase;
    
    }
}